<div id="main">
<div id="leftmain">
	<div id="car">
	<h1> Hyundai i10 Sportz 1.2 Kappa2 	</h1>
	<%= image_tag("i10.jpg", :alt => "car", :class => "car") %>
	<p> Average User rating: <br >
	<%= image_tag("fstar.gif", :alt => "star") %> <%= image_tag("fstar.gif", :alt => "star") %> <%= image_tag("fstar.gif", :alt => "star") %> <%= image_tag("hstar.gif", :alt => "star") %><%= image_tag("nstar.gif", :alt => "star") %>
	<a href="#"> 282 reviews </a> | <a href="#"> Write a review </a>
	</p> 

	<p> 
	<b> Price: Rs. 4,55,354</b><br />
	Avg Ex-Showroom Price (<a href="#">check on-road price</a>)
	<br /><a href="#"> view i10 Photos </a> 
	</p>

	</div>
	<ul id="centernav"> 
	<li> <%= link_to "Overview", "#" %> </li>
	<li> <%= link_to "Specifications", "#" %> </li>
	<li> <%= link_to "features", "#" %> </li>
	<li> <%= link_to "Colors", "#" %> </li>
	</ul>

	<div id="specifications">
	<%= render 'pages/overview' %>
	</div>

	<div id="news">
	<%= render 'pages/news' %>
	</div>

</div>


<div id="rightmain">
	<div class="share"> <span class="small">share this page </span> <a href="#"> <%= image_tag("share.gif", :alt => "share") %> </a>
	</div>
	<%= image_tag("car-display.gif", :alt => "car", :class => "carimage") %>
	<div id="versions">

	<%= render 'pages/versions' %>
	</div>

	<div id="upcoming">
	<h2> Upcoming Hyundai Cars</h2>
	<%= image_tag("car.jpg", :alt => "car", :class => "car2") %>
	<p> <a href="#"> Hyundai Sonata </a> <span class="small"> <br /> Early 2012 <br /> Rs 13-16lakh </span></p>
	<a href="#"> All upcoming cars </a>
	</div>

	<div id="research">
	<%= render '/pages/research' %>
	</div>

	<div id="buyers">
	<h2> Car Buyer's Tools </h2>
	<ul>
	<li><a href="#"> Locate Hyundai dealers/showrooms</a> </li>
	<li><a href="#"> Calculate car loan EMI</a> </li>
	<li><a href="#"> Search used cars for sale</a> </li>
	<li><a href="#"> Check value of your car</a> </li>
	<li><a href="#"> Calculate car insurance premium</a> </li>
	 </ul>
	</div>

	<div id="guides">
	<h2> Tips, Advices & Guides </h2>
	<span class="small"> Car tips, advices & guides from our experts</span> 
	<ul><li><a href="#"> New car discount negotiation guide</a> </li>
	<li><a href="#"> Things to know while buying a car</a> </li>
	<li><a href="#"> How to increase car mileage</a> </li>
	<li><a href="#"> Car audio buying guide</a> </li>
	<li><a href="#"> Know everything about car tyres</a> </li></ul>
	</div>

</div>


</div>