<footer>

<p class="char">Your feedback will help us improve. <%= link_to "Please give us your feedback", '#' %> </p>

   <div class="ullast"> <ul class="char">
      <li><%= link_to "Aboutus", '#' %> |</li>
      <li><%= link_to "Awards & recognitions", '#' %> |</li>
      <li><%= link_to "contact us", '#' %>|</li>
      <li><%= link_to "carrers", '#' %>|</li>
      <li><%= link_to "Media", '#' %>|</li>
      <li><%= link_to "Advertise with us", '#' %></li>
    </ul>
    </div>
   
 <br />
 <div class="ullast1">
 	 <ul class="char">
      <li><%= link_to "© CarWale India", '#' %>-</li>
      <li><%= link_to "Visitor Agreement", '#' %>-</li>
      <li><%= link_to "Privacy Policy", '#' %></li>
      </ul>
      </div>
     
</footer>