<footer>
Your feedback will help us improve. <%= link_to "Please give us your feedback", '#' %>
    <ul>
      <li><%= link_to "Aboutus", '#' %></li>
      <li><%= link_to "Awards & recognitions", '#' %></li>
      <li><%= link_to "contact us", '#' %></li>
      <li><%= link_to "carrers", '#' %></li>
      <li><%= link_to "Media", '#' %></li>
      <li><%= link_to "Advertise with us", '#' %></li>
    </ul>
 
</footer>