<div id="header2">
<ul>
<li> <%= link_to "Home", home_path %> </li>
<li> <%= link_to "New cars", newcars_path %></li>
<li> <%= link_to "Used cars", usedcars_path %></li>
<li> <%= link_to "sell cars", sellcar_path %></li>
<li> <%= link_to "Research", root_path %></li>
<li> <%= link_to "finance", finance_path %></li>
<li> <%= link_to "insurance", finance_path %></li>
<li> <%= link_to "Accessories", finance_path %></li>
<li> <%= link_to "Forms", finance_path %></li>
<li> <%= link_to "etc", finance_path %></li>

</ul>
</div>