<%= image_tag("logo.gif", :alt => "car") %>
<ul>
<li> <%= link_to "Home", root_path %> </li>
<li> <%= link_to "New cars", newcars_path %></li>
<li> <%= link_to "Used cars", usedcars_path %></li>
<li> <%= link_to "sell cars", sellcar_path %></li>
<li> <%= link_to "Research", research_path %></li>
<li> <%= link_to "finance", finance_path %></li>
</ul>