<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> </title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>  
</head>
<body>
<div id="container">
	<%= render 'layouts/container' %>
		<div id="wrap">
		<%= render 'layouts/header1' %>
		<%= render 'layouts/header2' %>
			<div id="mainsheet">
			<%= yield %>
			</div>
		</div>
			<%= render 'layouts/footer' %>
</div>
</body>
</html>
