<!DOCTYPE html>
<html>
<head>
  <title><%= @title %> </title>
  <%= csrf_meta_tag %>
  <%= render 'layouts/stylesheets' %>  
</head>
<body>
<div id="container">
<%= render 'layouts/container' %>
<div id="wrap">
<%= render 'layouts/header' %>

<%= yield %>
</div>
<%= render 'layouts/footer' %>
</div>
</body>
</html>
